In [13]:
import pandas as pd
from matplotlib import pyplot as plt

df = pd.read_csv('TurmericPrice.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 641 entries, 0 to 640
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      641 non-null    object
 1   Price     641 non-null    object
 2   Open      641 non-null    object
 3   High      641 non-null    object
 4   Low       641 non-null    object
 5   Vol.      631 non-null    object
 6   Change %  641 non-null    object
dtypes: object(7)
memory usage: 35.2+ KB

In [14]:
df.head()

         Date      Price       Open       High        Low   Vol. Change %
0  23-08-2024  14,540.00  15,290.00  15,290.00  14,400.00  6.18K   -4.34%
1  22-08-2024  15,200.00  15,022.00  15,380.00  15,050.00  2.69K    0.21%
2  21-08-2024  15,168.00  16,030.00  16,030.00  15,126.00  7.67K   -3.55%
3  20-08-2024  15,726.00  15,800.00  15,800.00  15,690.00  0.88K   -0.24%
4  19-08-2024  15,764.00  15,620.00  15,848.00  15,620.00  0.55K    1.35%

In [17]:
plt.plot(df.Price, df.Date)