In [52]:
import pandas as pd
from sklearn import linear_model
from sklearn.preprocessing import LabelEncoder
from matplotlib import pyplot as plt
from word2number import w2n

In [53]:
df = pd.read_csv("hiring.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   experience                  6 non-null      object
 1   test_score(out of 10)       7 non-null      float64
 2   interview_score(out of 10)  8 non-null      int64
 3   salary($)                   8 non-null      int64
dtypes: float64(1), int64(2), object(1)
memory usage: 388.0+ bytes

In [54]:
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [55]:
# replacing the nan values of test_score column with mean of the column
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(df['test_score(out of 10)'].mean())

In [56]:
# Converting the experience column from word to numeric after filling nan values as 'zero'
df['experience'] = df['experience'].fillna('zero')
df['experience'] = df['experience'].apply(lambda x: w2n.word_to_num(x))
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0               8.000000                           9      50000
1           0               8.000000                           6      45000
2           5               6.000000                           7      60000
3           2              10.000000                          10      65000
4           7               9.000000                           6      70000
5           3               7.000000                          10      62000
6          10               7.857143                           7      72000
7          11               7.000000                           8      80000

In [57]:
# Replacing the zero's with mean value
df['experience'].replace(0, df.experience.mean(), inplace=True)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        4.75               8.000000                           9      50000
1        4.75               8.000000                           6      45000
2        5.00               6.000000                           7      60000
3        2.00              10.000000                          10      65000
4        7.00               9.000000                           6      70000
5        3.00               7.000000                          10      62000
6       10.00               7.857143                           7      72000
7       11.00               7.000000                           8      80000

In [58]:
model = linear_model.LinearRegression()
model

LinearRegression()

In [62]:
x = df.drop('salary($)', axis=1)
y = df['salary($)']
model.fit(x, y)

LinearRegression()

In [63]:
model.predict([[2, 9, 6]])

C:\Users\VEER\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([45945.60979018])

In [64]:
model.predict([[12, 10, 10]])

C:\Users\VEER\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([93489.85902032])